.header {
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1bbc49;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #4ad381;
  text-decoration: underline;
}
